<div class="row">
  <div class="col">
    <div class="content-header">{{"About"|localize}}</div>
  </div>
</div>

<!-- Form Action Form Layout starts -->
<section id="action-form-layout">
  <div class="row match-height">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form>
               <div class="form-row">
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="titleAr">{{"ArabicTitle"|localize}}</label>
                    <input type="text" id="titleAr" class="form-control" name="titleAr" [(ngModel)]="about.titleAr">
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="titleEn">{{"EnglishTitle"|localize}}</label>
                    <input type="text" id="titleEn" class="form-control" name="titleEn" [(ngModel)]="about.titleEn">
                  </div>
                </div>
              </div>
               <div class="form-row">
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="descriptionAr">{{"ArabicDescription"|localize}}</label>
                    <textarea id="descriptionAr" rows="4" class="form-control" name="descriptionAr" [(ngModel)]="about.descriptionAr"></textarea>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="form-group position-relative">
                    <label for="">{{"EnglishDescription"|localize}}</label>
                    <textarea id="descriptionEn" rows="4" class="form-control" name="descriptionEn" [(ngModel)]="about.descriptionEn"></textarea>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary mr-2" (click)="update()"><i class="ft-check-square mr-1"></i>{{"Save"|localize}}</button>
              <button type="button" class="btn btn-secondary"><i class="ft-x mr-1"></i>{{"Cancel"|localize}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Form Action Form Layout ends -->
<!-- default swiper start -->
<section id="swiper-default">
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-content">
                  <div class="card-body">
                      <div class="swiper-default swiper-container">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide"><img class="img-fluid" src="assets/img/banner/banner-1.jpg" alt="banner"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- default swiper ends -->
