my-app .main-panel .main-content .card{
    animation-duration: 750ms;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}
body.auth-page{
    background-image: linear-gradient(43deg, rgba(105, 105, 105, 0.02), rgba(105, 105, 105, 0.02) 62%, rgba(227, 227, 227, 0.02) 0px, rgba(227, 227, 227, 0.02) 69%, rgba(23, 23, 23, 0.02) 0px, rgba(23, 23, 23, 0.02) 80%, rgba(13, 13, 13, 0.02) 0px, rgba(13, 13, 13, 0.02) 82%, rgba(13, 13, 13, 0.02) 0px, rgba(13, 13, 13, 0.02)), linear-gradient(31deg, rgba(156, 156, 156, 0.02), rgba(156, 156, 156, 0.02) 29%, rgba(163, 163, 163, 0.02) 0px, rgba(163, 163, 163, 0.02) 41%, rgba(199, 199, 199, 0.02) 0px, rgba(199, 199, 199, 0.02) 74%, rgba(230, 230, 230, 0.02) 0px, rgba(230, 230, 230, 0.02) 79%, rgba(15, 15, 15, 0.02) 0px, rgba(15, 15, 15, 0.02)), linear-gradient(319deg, rgba(39, 39, 39, 0.02), rgba(39, 39, 39, 0.02) 17%, rgba(49, 49, 49, 0.02) 0px, rgba(49, 49, 49, 0.02) 25%, rgba(59, 59, 59, 0.02) 0px, rgba(59, 59, 59, 0.02) 32%, rgba(194, 194, 194, 0.02) 0px, rgba(194, 194, 194, 0.02) 46%, rgba(219, 219, 219, 0.02) 0px, rgba(219, 219, 219, 0.02)), linear-gradient(113deg, rgba(189, 189, 189, 0.02), rgba(189, 189, 189, 0.02) 15%, rgba(222, 222, 222, 0.02) 0px, rgba(222, 222, 222, 0.02) 46%, rgba(20, 20, 20, 0.02) 0px, rgba(20, 20, 20, 0.02) 88%, rgba(93, 93, 93, 0.02) 0px, rgba(93, 93, 93, 0.02) 94%, rgba(130, 130, 130, 0.02) 0px, rgba(130, 130, 130, 0.02)), linear-gradient(29deg, rgba(135, 135, 135, 0.02), rgba(135, 135, 135, 0.02) 27%, rgba(181, 181, 181, 0.02) 0px, rgba(181, 181, 181, 0.02) 41%, rgba(81, 81, 81, 0.02) 0px, rgba(81, 81, 81, 0.02) 46%, rgba(252, 252, 252, 0.02) 0px, rgba(252, 252, 252, 0.02) 58%, rgba(74, 74, 74, 0.02) 0px, rgba(74, 74, 74, 0.02)), linear-gradient(90deg, rgb(229, 229, 229), rgb(228, 228, 228));
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

@media (max-width: 991px) {
    .sidebar .nav > li.active-pro{
        position: relative;
        width: 100%;
        bottom: 10px;
    }
    .sidebar .nav > li.active-pro > a{
        margin-top: 20px;

    }
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
