.custom-file-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}

.custom-file-label::after {
    content: "Browse";
}

.custom-file-input:focus~.custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group-append button {
    border-radius: 0 5px 5px 0;
}

.input-group-append button:first-child {
    border-radius: 5px 0 0 5px;
}
