<!-- services.component.html -->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">{{ "Buildings.OurServices" | localize }}</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form>
              <div class="d-flex">
                <div class="mr-auto p-2">
                  <div class="form-group form-inline">
                    {{ "Datatable.FullTextSearch" | localize }}
                    <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="search" (input)="searchTable()" />
                    <span class="ml-3" *ngIf="loading">
                      {{ "Datatable.Loading" | localize }}
                    </span>
                  </div>
                </div>
                <div class="p-2">
                  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
                    <option [ngValue]="4"> 4 {{ "Datatable.ItemsPerPage" | localize }}
                    </option>
                    <option [ngValue]="6"> 6 {{ "Datatable.ItemsPerPage" | localize }}
                    </option>
                    <option [ngValue]="8"> 8 {{ "Datatable.ItemsPerPage" | localize }}
                    </option>
                    <option [ngValue]="10"> 10 {{ "Datatable.ItemsPerPage" | localize }}
                    </option>
                  </select>
                </div>
                <div class="p-2">
                  <button type="button" class="btn btn-primary mr-2" (click)="openModal(content, 0)">
                    <span class="d-flex align-items-center">
                      <i class="ft-plus mr-1"></i>
                      <span>{{ "Datatable.Create" | localize }}</span>
                    </span>
                  </button>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" sortable="titleEn" (sort)="onSort($event)">
                        {{ "EnglishTitle" | localize }}
                      </th>
                      <th scope="col" sortable="titleAr" (sort)="onSort($event)">
                        {{ "ArabicTitle" | localize }}
                      </th>
                      <th scope="col">
                        {{ "Icon" | localize }}
                      </th>
                      <th scope="col">
                        {{ "IsHome" | localize }}
                      </th>
                      <th scope="col">
                        {{ "IsActive" | localize }}
                      </th>
                      <th scope="col">
                        {{ "Datatable.Actions" | localize }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let building of data">
                      <th scope="row" hidden>{{ building.id }}</th>
                      <td>
                        <ngb-highlight [result]="building.titleEn" [term]="search"></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight [result]="building.titleAr" [term]="search"></ngb-highlight>
                      </td>
                      <td>
                        <img [src]="building.iconUrl" class="height-50" alt="Icon" />
                      </td>
                      <td>
                        <span class="badge badge-pill bg-light-success cursor-pointer" *ngIf="building.isHome">
                          {{ "Yes" | localize }}
                        </span>
                        <span class="badge badge-pill bg-light-danger cursor-pointer" *ngIf="!building.isHome">
                          {{ "No" | localize }}
                        </span>
                      </td>
                      <td>
                        <span class="badge badge-pill bg-light-success cursor-pointer" *ngIf="building.isActive">
                          {{ "Yes" | localize }}
                        </span>
                        <span class="badge badge-pill bg-light-danger cursor-pointer" *ngIf="!building.isActive">
                          {{ "No" | localize }}
                        </span>
                      </td>
                      <td class="text-truncate">
                        <a href="javascript:;" class="primary p-0" (click)="openModal(content, building.id)">
                          <i class="ft-edit font-medium-3 mr-2"></i>
                        </a>
                        <a href="javascript:;" class="danger p-0" (click)="deleteItem(building.id)">
                          <i class="ft-trash-2 font-medium-3"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center p-2">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [pageSize]="pageSize" (pageChange)="onPageChange($event)"></ngb-pagination>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-c="close" let-d="dismiss">
  <form class="needs-validation" #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
    <div class="modal-header">
      <h4 class="modal-title">{{ "Buildings.Building" | localize }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="col-md-12 mb-4 form-group">
          <label for="titleEn"> {{ "EnglishTitle" | localize }}</label>
          <input type="text" name="titleEn" class="form-control" id="titleEn" [placeholder]="'EnglishTitle' | localize" [(ngModel)]="building.titleEn" #titleEn="ngModel" [ngClass]="{
              'is-invalid': userForm.submitted && titleEn.invalid,
              'is-valid': userForm.submitted && !titleEn.invalid
            }" required />
          <div *ngIf="
              userForm.submitted &&
              (titleEn.invalid || titleEn.errors?.required)
            " class="invalid-tooltip">
            {{ "Required" | localize }}
          </div>
        </div>
        <div class="col-md-12 mb-4 form-group">
          <label for="titleAr"> {{ "ArabicTitle" | localize }}</label>
          <input type="text" name="titleAr" class="form-control" id="titleAr" [placeholder]="'ArabicTitle' | localize" [(ngModel)]="building.titleAr" #titleAr="ngModel" [ngClass]="{
              'is-invalid': userForm.submitted && titleAr.invalid,
              'is-valid': userForm.submitted && !titleAr.invalid
            }" required />
          <div *ngIf="
              userForm.submitted &&
              (titleAr.invalid || titleAr.errors?.required)
            " class="invalid-tooltip">
            {{ "Required" | localize }}
          </div>
        </div>
        <div class="col-md-12 mb-4 form-group">
          <label for="imageUpload">{{ "Image" | localize }}</label>
          <label class="custom-file">
            <input type="file" class="form-control custom-file-input" id="imageUpload" #imageInput (change)="onImageSelect($event.target.files)" [ngClass]="{
              'is-invalid': userForm.submitted && !selectedImage && !isImageReady && !building.id,
              'is-valid': userForm.submitted && selectedImage && isImageReady && !building.id
            }" [required]="!building.id" />
            <div *ngIf="userForm.submitted && !selectedImage && !isImageReady && !building.id" class="invalid-tooltip">
              {{ "Required" | localize }}
            </div>
            <label class="custom-file-label" for="imageUpload">
              {{ selectedImageName || "ChooseFile" | localize }}
            </label>
            <div *ngIf="building.imageUrl">
              <img class="img-fluid" [src]="building.imageUrl" alt="image" width="90" height="90" />
              <button type="button" class="btn btn-danger bg-light-danger m-1" (click)="deleteImage(building.id)">
                <i class="ft-trash"></i>
                {{ "DeleteImage" | localize }}
              </button>
            </div>
          </label>
          <div *ngIf="isImageReady">
            <button type="button" [disabled]="saving" *ngIf="building.id && isImageReady" class="btn btn-success bg-light-success m-1" (click)="uploadImage(building.id)">
              <i class="ft-upload"></i>
              {{ "Upload" | localize }}
            </button>
            <button type="button" class="btn btn-success bg-light-danger m-1" (click)="removeImage()">
              <i class="ft-trash-2"></i>
              {{ "Remove" | localize }}
            </button>
          </div>
        </div>
        <div class="col-md-12 mb-4 form-group">
          <label for="iconUpload">{{ "Icon" | localize }}</label>
          <label class="custom-file">
            <input type="file" class="form-control custom-file-input" id="iconUpload" #iconInput (change)="onIconSelect($event.target.files)" [ngClass]="{
              'is-invalid': userForm.submitted && !selectedIcon && !isIconReady && !building.id,
              'is-valid': userForm.submitted && selectedIcon && isIconReady && !building.id
            }" [required]="!building.id" />
            <div *ngIf="userForm.submitted && !selectedIcon && !isIconReady && !building.id" class="invalid-tooltip">
              {{ "Required" | localize }}
            </div>
            <label class="custom-file-label" for="iconUpload">
              {{ selectedIconName || "ChooseFile" | localize }}
            </label>
            <div *ngIf="building.iconUrl">
              <img class="img-fluid" [src]="building.iconUrl" alt="icon" width="90" height="90" />
              <button type="button" class="btn btn-danger bg-light-danger m-1" (click)="deleteIcon(building.id)">
                <i class="ft-trash"></i>
                {{ "DeleteImage" | localize }}
              </button>
            </div>
          </label>
          <div *ngIf="isIconReady">
            <button type="button" [disabled]="saving" *ngIf="building.id && isIconReady" class="btn btn-success bg-light-success m-1" (click)="uploadIcon(building.id)">
              <i class="ft-upload"></i>
              {{ "Upload" | localize }}
            </button>
            <button type="button" class="btn btn-success bg-light-danger m-1" (click)="removeIcon()">
              <i class="ft-trash-2"></i>
              {{ "Remove" | localize }}
            </button>
          </div>
        </div>
        <div class="col-md-12 mb-4 form-group">
          <label for="descriptionEn">
            {{ "EnglishDescription" | localize }}</label>
          <textarea id="descriptionEn" rows="4" class="form-control" name="descriptionEn" [(ngModel)]="building.descriptionEn" #descriptionEn="ngModel" [ngClass]="{
              'is-invalid': userForm.submitted && descriptionEn.invalid,
              'is-valid': userForm.submitted && !descriptionEn.invalid
            }" required></textarea>
          <div *ngIf="
              userForm.submitted &&
              (descriptionEn.invalid || descriptionEn.errors?.required)
            " class="invalid-tooltip">
            {{ "Required" | localize }}
          </div>
        </div>
        <div class="col-md-12 mb-4 form-group">
          <label for="descriptionAr">
            {{ "ArabicDescription" | localize }}</label>
          <textarea id="descriptionAr" rows="4" class="form-control" name="descriptionAr" [(ngModel)]="building.descriptionAr" #descriptionAr="ngModel" [ngClass]="{
              'is-invalid': userForm.submitted && descriptionAr.invalid,
              'is-valid': userForm.submitted && !descriptionAr.invalid
            }" required></textarea>
          <div *ngIf="
              userForm.submitted &&
              (descriptionAr.invalid || descriptionAr.errors?.required)
            " class="invalid-tooltip">
            {{ "Required" | localize }}
          </div>
        </div>
        <div class="col-md-12 mb-4 form-group">
          <div class="checkbox">
            <input type="checkbox" id="isActiveCheckbox" name="isActive" [(ngModel)]="building.isActive" />
            <label for="isActiveCheckbox">
              <span>{{ "IsActive" | localize }}</span>
            </label>
          </div>
        </div>
        <div class="col-md-12 mb-4 form-group">
          <div class="checkbox">
            <input type="checkbox" id="isHomeCheckbox" name="isHome" [(ngModel)]="building.isHome" />
            <label for="isHomeCheckbox">
              <span>{{ "IsHome" | localize }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary mr-2" [disabled]="saving">
        <i class="ft-check-square mr-1"></i>{{ "Save" | localize }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">
        <i class="ft-x mr-1"></i>{{ "Cancel" | localize }}
      </button>
    </div>
  </form>
</ng-template>
