<!--Statistics cards Starts-->
<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-ibiza-sunset">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">
                {{ buildingStatistic.totalVilalCount }}
              </h3>
              <span>{{ "Buildings.TotalVilalCount" | localize }}</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-globe font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-purple-love">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">
                {{ buildingStatistic.homeVilalCount }}
              </h3>
              <span>{{ "Buildings.HomeVilalCount" | localize }}</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-grid font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-mint">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">
                {{ contactUsStatistic.readCount | localize }}
              </h3>
              <span>{{ "ContactUS.ReadCount" | localize }}</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-envelope-open font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-king-yna">
      <div class="card-content">
        <div class="card-body py-0">
          <div class="media pb-1">
            <div class="media-body white text-left">
              <h3 class="font-large-1 white mb-0">
                {{ contactUsStatistic.unReadCount | localize }}
              </h3>
              <span>{{ "ContactUS.UnReadCount" | localize }}</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-envelope font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Statistics cards Ends-->

<div class="row match-height">
   <div class="col-xl-4 col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">{{ "ContactUS.UsersMessages" | localize }}</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="media py-2" *ngFor="let message of contactUsStatistic.messages;let i = index">
            <img class="mr-3 avatar rounded" [src]="'assets/img/portrait/small/avatar-s-' + ((i % 25) + 1) + '.png'" alt="Avatar" width="35">
            <div class="media-body">
              <h4 class="font-medium-1 mb-0">{{ message.name | localize }}</h4>
              <p class="grey font-small-3 m-0">{{ message.email | localize }}</p>
            </div>
            <div type="button" *ngIf="message.isRead" class="badge badge-pill bg-light-success ng-star-inserted">
              <i class="ft-check"></i>
            </div>
             <div type="button" *ngIf="!message.isRead" class="badge badge-pill bg-light-danger ng-star-inserted">
              <i class="ft-x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-12 col-12">
    <div class="card shopping-cart">
      <div class="card-header pb-2">
        <h4 class="card-title mb-1">
          {{ "Buildings.OurServices" | localize }}
        </h4>
      </div>
      <div class="card-content">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table text-center m-0">
              <thead>
                <tr>
                  <th>{{ "Image" | localize }}</th>
                  <th>{{ "EnglishTitle" | localize }}</th>
                  <th>{{ "ArabicTitle" | localize }}</th>
                  <th>{{ "Icon" | localize }}</th>
                  <th>{{ "IsActive" | localize }}</th>
                  <th>{{ "IsHome" | localize }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let villa of buildingStatistic.vilal">
                  <td>
                    <img class="height-50" [src]="villa.imageUrl" alt="Villa Image" />
                  </td>
                  <td>{{ villa.titleEn | localize }}</td>
                  <td>{{ villa.titleAr | localize }}</td>
                  <td>
                    <img class="height-50" [src]="villa.iconUrl" alt="Villa Icon" />
                  </td>
                  <td>
                    <span *ngIf="villa.isActive" class="badge badge-pill bg-light-primary cursor-pointer">{{ "Yes" | localize }}</span>
                    <span *ngIf="!villa.isActive" class="badge badge-pill bg-light-danger cursor-pointer">{{ "No" | localize }}</span>
                  </td>
                  <td>
                    <span *ngIf="villa.isHome" class="badge badge-pill bg-light-primary cursor-pointer">{{ "Yes"| localize }}</span>
                    <span *ngIf="!villa.isHome" class="badge badge-pill bg-light-danger cursor-pointer">{{ "No" | localize }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
